@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
    font-family: 'Montserrat';
}

html {
    scroll-behavior:smooth
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 700;
    src: local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcvEr6Hm6RMS0v1dtXsGir4g.ttf) format('truetype');
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0px;
    margin: 0px;
}

h1 {
    margin-top: 20px;
}

h2 {
    margin: 10px 0px;
}

.text-center {
    text-align: center;
}

.App {
    width: 80%;
    margin: 0 auto;
}

.header-img-container {
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 100%;
    margin: 0 auto;
}

.header-img {
    display: block;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 20px;
    border: solid 5px #1677CB;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #F012BE, #39CCCC);
    background-origin: border-box;
}

.header-name {
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}

.header-bio {
    font-weight: 500;
    text-align: center;
    margin-top: 0px;
}

nav {
    overflow: hidden;
    display: flex;
    width: 400px;
    margin: 0 auto;
}

nav a {
    float: left;
    display: block;
    font-weight: 600;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 auto;
    border-bottom: 3px solid white;
}

nav a:hover {
    color: #8E8E8E;
    border-bottom: 3px solid #8E8E8E;
    transition: border 0.5s;
}

nav a.active {
    color: black;
    border-bottom: 3px solid black;
    transition: border 0.5s;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.about-list-main {
    display: flex;
}

.about-list {
    display: inline-block;
    ;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.skill-title, .stack-title, .project-title {
    margin: 0px -10px;
    margin-top: -10px;
    margin-bottom: 20px;
    padding: 15px 5px;
}

.project-title {
    background: #181818;
    color: white;
    padding: 5px 5px;
    display: block;
    position: relative;
}

.project-description {
    text-align: center;
    margin-top: 20px;
}

.github-icon {
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
}

.skill-box, .stack-box, .project-box {
    background: white;
    width: 20%;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px 0px #3F3F3F;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
}

.stack-box {
    background: #DDD;
    width: 10%;
}

.project-box {
    width: 45%;
}

.skill-box:hover, .stack-box:hover, .project-box:hover {
    box-shadow: 0px 0px 5px 3px #3F3F3F;
}

.skill-image {
    width: 60%;
    display: flex;
    margin: 0 auto;
}

.footer {
    background: #8E8E8E;
    padding: 10px;
    margin-top: 50px;
}

.footer p {
    color: white;
}

.button {
    width: 100px;
    margin: 10px auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 50px;
    color: white;
    background-color: #8E8E8E;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.button:hover {
    background: #181818;
    cursor: pointer;
}

.project-modal {
    margin: 20px;
}

.project-tech {
    display: flex;
}

.project-tech-box {
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .skill-box {
        width: 40%;
    }
    .stack-box {
        width: 25%;
    }
}

@media screen and (max-width: 600px) {
    .skill-box, .stack-box, .project-box {
        width: 90%;
    }
}